.game {
    /* height: 400px; */
    width: 600px;
    position: relative;
    float: left;
    /* margin-top: 20px;
    margin-left: 20px; */
}
.gameover {
    height: 400px;
    width: 200px;
    border-left: 1px solid #6e96bf;
    border-right: 1px solid #6e96bf;
    border-bottom: 1px solid #6e96bf;
    position: relative;
    float: left;
    margin-top: 20px;
    z-index: 999;
    margin-left: -202px;
    display: none;
    text-align: center;
    line-height: 400px;
    background: #2196f3;
    filter:alpha(opacity=50);  
    -moz-opacity:0.5;  
    -khtml-opacity: 0.5;  
    opacity: 0.5;
    font-weight: bold;
}
.btnWarp {
    margin: 7px 18px;
}
.introduce{
    margin-top: 45px;
}
.introduce td{
    width: 100px;
}

#local_score {
    padding-left: 10px;
}
#local_time {
    padding-left: 10px;
}

.next {
    height: 80px;
    width: 80px;
    position: relative;
    float: left;
    margin-left: 20px;
    margin-top: 20px;
}
.info {
    float: left;
    position: relative;
    margin-top: 20px;
    height: 80px;
}
.none {
    float: left;
    width: 20px;
    height: 20px;
}
.done {
    float: left;
    width: 20px;
    height: 20px;
    background-image: url(../img/B.jpg);
}
.current {
    float: left;
    width: 20px;
    height: 20px;
    background-image: url(../img/c.jpg);
}


.A {
    float: left;
    width: 20px;
    height: 20px;
    background-image: url(../img/A.jpg);
}

.B {
    float: left;
    width: 20px;
    height: 20px;
    background-image: url(../img/B.jpg);
}

.C {
    float: left;
    width: 20px;
    height: 20px;
    background-image: url(../img/C.jpg);
}

.D {
    float: left;
    width: 20px;
    height: 20px;
    background-image: url(../img/D.jpg);
}

.E {
    float: left;
    width: 20px;
    height: 20px;
    background-image: url(../img/E.jpg);
}

.F {
    float: left;
    width: 20px;
    height: 20px;
    background-image: url(../img/F.jpg);
}

.G {
    float: left;
    width: 20px;
    height: 20px;
    background-image: url(../img/G.jpg);
}

.H {
    float: left;
    width: 20px;
    height: 20px;
    background-image: url(../img/H.jpg);
}
